/*------------- main -------------*/ 

* {
    margin: 0;
    padding: 0;
    border: 0;

}


body {
    background: black;
    /* background: #FFC001; */
    /* background: #F4F4F4; */
    ;
    /* background-image: url("images/bg7.gif"); */
     background-size: 6%;
     background-position: center;
     background-repeat: repeat;
}

h1 {
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 0.04rem;
    font-size: 3rem;
    color: white;
}

h2 {
    font-family: 'montserrat alternates', sans-serif;
    font-weight: 500;
    letter-spacing: 0.04rem;
    font-size: 2rem;
    padding: 14px;
    color: white;
    max-width: 15em;
}

h3 {
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 0.04rem;
    font-size: 2rem;
    color: white;
}

p {
        font-family: 'montserrat',
        sans-serif;
        font-weight: 400;
        line-height: 1.6rem;
        color: white;
        font-size: 0.9em;
        max-width: 40em;
        padding: 1em 14px;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
}

footer {
    background: rgb(30, 30, 30);   
    padding-bottom: 4rem;
}

.footer-woordenpro {
    background: rgb(201, 42, 74);
}

/*------------- navsection -------------*/

.navsection {
    /* border: solid 1px red; */
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

#navsection-index {
    background-image: url("images/bg2.png") !important;
     background-position: center;
     height: 100vh;
     background-repeat: no-repeat;
     background-size: cover;
}

#navsection-contact {
    background-image: url("images/bgpury1.gif") !important;
    background-size: 10vh;
}

#navsection-projecten {
    /* background-image: url("images/bg6.gif") !important; */
    background-size: 6%;
}

#navsection-over {
    background-image: url("images/bg6.gif") !important;
    background-size: 6%;
}

.topsection {
    /* border: solid 1px green; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2rem;
}

.topsection img {
    height: 2rem;
    transition: 200ms;
    z-index: 1000;
}

.logomobile img{
    height: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
    position: fixed;
    z-index: 100;
    display: flex;

}

.topsection img:hover {
    transform: rotate(-18deg);
    height: 2.5rem;
}

.middlesection {
    justify-content: space-between;
    display: flex;
    
}
.middlesectionicons {
    /* border: solid 1px green; */
    display: flex;
    margin: 2rem;
    flex-direction: column;
}

.middlesectionicons a {
    /* border: solid 1px yellow; */
    display: flex;
    justify-content: flex-end;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.middlesection img {
    height: auto;
}

.bottomsection {
    /* border: solid 1px green; */
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}


#topsection {
    text-decoration: none;
    outline: none;
    color: white;
    font-family: 'montserrat', sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    border-bottom: solid 2px white;
    padding-bottom: 10px;
    width: 7rem;
    text-align: right;
    transition: 300ms;
}


.bottomsection a {
    text-decoration: none;
    outline: none;
    color: white;
    font-family: 'montserrat', sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    border-top: solid 2px white;
    padding-top: 10px;
    width: 7rem;
    transition: 300ms;
}

#bottomsectionr {
    text-align: right;
}

#topsection:hover {
        color: #FF4343 !important;
         border-bottom: 2px solid #FF4343;
             transform: rotate(-2deg);
}

.bottomsection a:hover {
    color: #FF4343 !important;
    border-top: 2px solid #FF4343;
        transform: rotate(2deg);
}

.bottomsection-contactr {
    color: rgb(0, 0, 0) !important;
    border-top: solid 2px rgb(0, 0, 0) !important;
}
/*------------- namesection -------------*/

.namesection {
    position: fixed;
    /* or absolute */
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.name {
    width: 200px;
    height: auto;
    transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    perspective: 1000px;
    -webkit-perspective: 1000px;
    perspective-origin: 0% 50%;
    -webkit-perspective-origin: 0% 50%;
    
}

.name:hover {
    transition: 300ms;
    animation: grow 1s;
         transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
         perspective: 1000px;
         -webkit-perspective: 1000px;
         perspective-origin: 0% 50%;
         -webkit-perspective-origin: 0% 50%;
}

@keyframes grow {
 10%{
              transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(10deg) rotateY(50deg) rotateZ(10deg);
              perspective: 1000px;
              -webkit-perspective: 1000px;
              perspective-origin: 0% 50%;
              -webkit-perspective-origin: 0% 50%;
 }

  80% {
      transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(-10deg) rotateY(-50deg) rotateZ(-20deg);
      perspective: 1000px;
      -webkit-perspective: 1000px;
      perspective-origin: 0% 50%;
      -webkit-perspective-origin: 0% 50%;
  }


}


/*------------- contact form -------------*/


#form {
    /* width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center; */
    position: fixed;
        top: 50%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
}


.form-control {
    color: black;
    ;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    font-family: 'montserrat', sans-serif;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 10px;
    width: 600px;
}

input {
    height: 40px;
}

form textarea {
    text-align: top;
}

textarea {
    resize: none;
}

form .submit {
    background: white;
    border-bottom: none;
    color: black;
    border-radius: 2px;
    float: right;
    width: 50%;
    font-weight: 600;
    font-size: 0.9rem;
    letter-spacing: 0.03rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: 300ms;
}

form .submit:hover {
    color: white;
    background-color: black;

}

.form-control:hover {
    border-bottom: 2px solid black;
}


/*------------- projects grid -------------*/

.body-projecten {
    background-color: rgb(255, 255, 255);
}

.body-projecten h1 {
    color: black;
}

#bottomsection-projecten a {
    border-top: 2px solid black;
   color: black !important;
}

#bottomsection-projecten a:hover {
    border-top: 2px solid #FF4343;
    color: #FF4343 !important;
}

.body-projecten #topsection {
    border-bottom: 2px solid #FF4343;
    color: #FF4343;
}

.projecten {
    text-align: center;
    padding-top: 10rem;
}

.grid {
    position: relative;
    padding:3rem 0px;
    width: 70%;
    margin: 0 auto;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    /* grid-column-gap: 0.5em; */
    /* grid-row-gap: 0.5em; */
}

.grid img {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: auto;
    display: block;
}

.grid a {
    position: relative;
}

.project-overzicht-title {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.733);
      color: #fff;
      transition: opacity .2s, visibility .2s;
      opacity: 0;
      font-family: 'montserrat', sans-serif;
      font-size: 2em;
      font-weight: 500;
      padding-left: 30px;
}

.project-overzicht-title:hover {
    opacity: 1;
}

.span {
    font-size: 0.5em;
    font-weight: 300;
    padding-left: 4px;
}

/*------------- project page content -------------*/


.project-title {
    font-family: 'montserrat alternates';
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image:url("images/project1bg.png");
}

#project-title-sonos {
    background-image:url("images/project2bg.png");
} 

.overlay-image {
        object-fit: cover;
        display: flex;
        margin: 0 auto;
        width: 70% !important;
        height: auto;
        margin-top: -12rem !important;
}

.project-content img {
    object-fit: cover;
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: auto;
}
.project-content {
    width: 100%;
    background: #E02E52;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
    align-items: center;
}

#project-content-sonos {
    background: black;
}

.project-text {
    padding: 100px 0px;
}
.project-image-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));

}


/*------------- media queries -------------*/

@media only screen and (max-width: 601px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        width: 90%;
    }

    .project-image-section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    }

    h1 {
        font-size: 2.5rem;
    }

    .form-control {
        width: 300px;
    }
}

@media only screen and (max-width: 1060px) {

#topsection {
    display: none;
}

.middlesection {
    margin-bottom: 7rem;
}

.bottomsection {
    display: none;
}

.overlay-image {
    width: 100% !important;
    height: auto;
    margin-top: -5rem !important;

}
}

@media only screen and (min-width: 1060px) {

    .button_container {
        display: none;
    }

    .logomobile img {
        display: none;
    }
}

/*------------- hamburger menu -------------*/


.button_container {
    position: fixed;
    top: 2rem;
    right: 2rem;
    height: 20px;
    width: 30px;
    cursor: pointer;
    z-index: 100;
    transition: opacity .25s ease;
}

.button_container:hover {
    opacity: .7;
}

.button_container.active .top {
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #FFF;
}

.button_container.active .middle {
    opacity: 0;
    background: #FFF;
}

.button_container.active .bottom {
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #FFF;
}

.button_container span {
    background: white;
    border: none;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer;
}

.projectb span {
    background: black;
}
.button_container span:nth-of-type(2) {
    top: 11px;
}

.button_container span:nth-of-type(3) {
    top: 22px;
}

.overlay {
    position: fixed;
    background: url('images/bg4.gif');
    background-size: 10%;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
}

.overlay.open {
    z-index: 10;
    opacity: 0.9;
    visibility: visible;
    height: 100%;
}

.overlay.open li {
    animation: fadeInRight .5s ease forwards;
    animation-delay: .35s;
}

.overlay.open li:nth-of-type(2) {
    animation-delay: .4s;
}

.overlay.open li:nth-of-type(3) {
    animation-delay: .45s;
}

.overlay.open li:nth-of-type(4) {
    animation-delay: .50s;
}

.overlay nav {
    display: flex;
    position: relative;
    height: 50%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    font-weight: 600;
    font-family: 'montserrat', sans-serif;
}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
}

.overlay ul li {
    display: block;
    height: 25%;
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;
    opacity: 0;
}

.overlay ul li a {
    display: block;
    position: relative;
    color: #FFF;
    text-decoration: none;
    overflow: hidden;
}

.overlay ul li a:hover:after,
.overlay ul li a:focus:after,
.overlay ul li a:active:after {
    width: 100%;
}

.overlay ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    transform: translateX(-50%);
    height: 3px;
    background: #FFF;
    transition: .35s;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}
